html{
    height: 100%;
background-image: linear-gradient(#e66465, #9198e5);    
}
div{
    color:red;
}
#fixture {
  color:red;
  background-color:white;
  border-radius: 35px;
  border: 2px solid #73AD21;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px; 
  width: 60%;
  height: 20px;
}
#date{
    color:blue;
    text-align:center;
}
#hometeam{
    float:left;
    color:blue;
}
#awayteam{
    float:right;
}
#homelogo{
    height: 30px;
}
#awaylogo{
    height: 30px;
}
#scoreline{
    float:left;
    display:inline-block;
}
#code404{
    text-align:center;
}
#notfound{
    text-align:center;
}