html{
    height: 100%;
background-image: linear-gradient(#e66465, #9198e5);    
font-family: 'Noto Sans', sans-serif;
overflow: hidden;
}

.fixture {
  color:red;
  display: table;
  background-color:white;
  border-radius: 35px;
  border: 2px solid #73AD21;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px; 
  width: 60%;
  height: 20px;
}
#searchbar {
  width: 60%; /* Full-width */
  margin: auto;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  position: absolute;
    top: 135px;
}
#teamlist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
    top: 190px;
    width: calc(63% - 3px);
}
#teamlist .listclass {
  cursor:pointer;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
.homeside{
    display: table-cell;
    width:40%
}
.awayside{
    display: table-cell;
    float: right;
}
.date{
    color:blue;
    text-align:center;
}
.hometeam{
    vertical-align: middle;
    display: table-cell;
    padding: 6px; 
    color:blue;
    float:left;
}
.awayteam{
    vertical-align: middle;
    display: table-cell;
    float: right;
}
.homelogo{
    height: 30px;
    display: table-cell;
    float:left;
}
.awaylogo{
    height: 30px;
    display: table-cell;
    float: right;
    padding-right:6px;
}
.scoreline{
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    text-align: center;
    width: 20%;
}
#code404{
    text-align:center;
}
#notfound{
    text-align:center;
}

#optionbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 40px;
  position: fixed;
  width:100%;
  left:0;
  top: 0;
  font-size: 14px;
}
#allfixtures{
    position: absolute;
    top: 135px;
    width: 100%;
}
.option{
    float:left;
    text-align:center;
    vertical-align: middle;
}
.option .optionlink{
    display: block;
  color: white;
  text-align: center;
   vertical-align: middle;
  padding: 9px 5px;
  text-decoration: none;
}
.option .optionlink:hover {
  color:#329dc7;
}
#teambar{
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    position: absolute;
    top: 55px;
}
.teambutton, .teambutton2 {
  background-color:#25275e;
   color:white;
  cursor: pointer;
  display: table-cell;
  border-radius: 30px;
  height : 25px;
  border: 2px solid #73AD21;
  padding: 6px;
  margin-right: 40px;
}
.closebutton{
    font-size: 14px;       
}

.closebutton:before {
    content: "×";

}
.closebutton:hover{
    cursor: pointer;
}
.teambutton:hover{
    color:#329dc7;
}
.teamlogo .homelogo .awaylogo{
  vertical-align: middle;
  display: table-cell;
}
.homesidespan{
    padding-left: 5px;
    vertical-align: middle;
  display: table-cell;
}
.awaysidespan{
    vertical-align: middle;
  display: table-cell;
}
.teambuttonspan {
  vertical-align: middle;
  display: table-cell;
   padding-left: 5px;
}
.body404{
    height: 100%;
  margin: 0;
}
.div404 {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#submit{
  position: absolute;
  top: 135px;
  right: 25%;
  background-color:#23bd00;
   color:white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  height : 46px;
   text-align: center;
  width: 110px;
  border: none;
  padding: 6px;
}
hr {
  margin: auto;
  width: 40%;
}