html{
    height: 100%;
background-image: linear-gradient(#e66465, #9198e5);    
}
div{
    color:red;
}
#fixture {
  color:red;
  background-color:white;
  border-radius: 35px;
  border: 2px solid #73AD21;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px; 
  width: 60%;
  height: 20px;
}
#searchbar {
  width: 60%; /* Full-width */
  margin: auto;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
#teamlist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#teamlist li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
#date{
    color:blue;
    text-align:center;
}
#hometeam{
    float:left;
    color:blue;
}
#awayteam{
    float:right;
}
#homelogo{
    height: 30px;
}
#awaylogo{
    height: 30px;
}
#scoreline{
    float:left;
    display:inline-block;
}
#code404{
    text-align:center;
}
#notfound{
    text-align:center;
}